body {
  font-family: "Arial", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #2d254b;
}

.container {
  min-width: 400px;
  /* width: 400px; */
  background-color: #3e3364;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  color: #ffffff;
  text-align: center;
}

.todo-hero h2 {
  font-size: 24px;
  margin-bottom: 15px;
  color: rgb(191, 19, 19);
}
.todo-hero {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.todo-input {
  width: 95%;
  padding: 10px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  color: #ffffff;
  background-color: #2d254b;
  outline: none;
}

.todo-input::placeholder {
  color: #b8b0d3;
}

.submit-button {
  width: 100%;
  padding: 10px;
  background-color: #1c1535;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  color: #ffffff;
  cursor: pointer;
  margin-top: 10px;
  transition: 0.3s;
}

.submit-button:hover {
  background-color: #2d254b;
}

.todo-list {
  list-style-type: none;
  padding: 0;
  margin: 10px 0;
}

.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #4d426c;
  border-radius: 5px;
  margin-bottom: 10px;
  color: #ffffff;
}

.btn {
  background: none;
  padding: 5px;
  border: none;
  cursor: pointer;
  transition: 0.3s;
  /* &:hover {
    background-color: #433569;
  } */
}
.done {
  opacity: 0.5;
  text-decoration: line-through;
  color: #d4d3d3;
}
